*{margin: 0;padding: 0;}
.banner{
    overflow: hidden;
    position: relative;
    width: 990px;
    height: 460px;
    margin: 50px auto;
}
.banner img{
    position: absolute;
    width: 990px;
    height: 460px;
}
.banner img:nth-of-type(1){
    z-index: 100;
}
button{
    width: 41px;
    height: 69px;
    position: absolute;
    background: url("../images/icon-slides.png");
    z-index: 200;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
    border: none;
    outline: none;
}
.position-center-y{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.next{
    right: 0;
    background-position-x: -126px;
}
.prev{
    background-position-x: -90px;
}
.prev:hover{
    background-position-x: 0;
}
.next:hover{
    background-position-x: -42px;
}
.all-icons{
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 300; 
    left: 92%;
}
.all-icons span{
    display: inline-block;
    width: 9px;
    height: 9px;
    left: auto;
    cursor: pointer;
    border: 1px solid #fff;
    background-color:#333;
    border-radius: 50%;
}
.all-icons .active{
    background: #E7EAF8;
}